.green_bg{
    background-color: #92A63E;
}

.yellow_bg{
    background-color: #F3C053;
}

.black_bg{
    background-color: black;
}

.beige_bg{
    background-color: #FFFAF5;
}

.darkgrey_bg{
    background-color: #B8B2B2;
}

.darkgrey_txt{
    color: #908d8d;
}

.lightgrey_txt{
    color: #C4C4C4;
}

.darkgreen_txt{
    color: #AFC74E;
}

.green_txt{
    color: #92A63E;
}

.yellow_txt{
    color: #F3C053;
}

.white_txt{
    color: WHITE;
}




