@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;1,400&display=swap");


.font_raleway_bigtitle_50px {
    font-family: "Raleway", serif;
    font-style: bold;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
}


/*  H1 */
.font_raleway_regular_25px {
    font-family: "Raleway", serif;
    font-style: bold;
    font-weight: 900;
    font-size: 25px;
    line-height: 50px;
}

/*  H2 */
.font_raleway_regular_15px {
    font-family: "Raleway", serif;
    font-style: bold;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

/*  Texte */
.font_raleway_txt_15px {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
}

.font_raleway_txt2_15px {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
}

.font_raleway_txt3_15px {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 14px;
}





