.header {
  
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    margin-bottom: 50px;
    padding-left: 50px;
}

.navbar {
    flex: 2;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.logo {
    flex: 1;
}